* {
  box-sizing: border-box;
}

html {
  font-family: roboto-reg;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 16px;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.none {
  background-color: #ffffff;
}

.grey {
  background-color: #e8eaed;
}

.brown {
  background-color: #e6c9a8;
}

.pink {
  background-color: #fdcfe8;
}

.purple {
  background-color: #d7aefb;
}

.dark-blue {
  background-color: #aecbfa;
}

.blue {
  background-color: #cbf0f8;
}

.green {
  background-color: #ccff90;
}

.yellow {
  background-color: #fff475;
}

.orange {
  background-color: #fbbc04;
}

.red {
  background-color: #f28b82;
}

.turquoise {
  background-color: #a7ffeb;
}

.pin {
  cursor: pointer;
}

.note .actions {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  font-size: 1.25rem;
}

.actions label {
  cursor: pointer;
}

.colors-container {
  background-color: white;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 15px;
  border: 1px solid #00000033;
  border-radius: 15px;
  width: 454px;
  height: 49px;
  right: 40px;
}

.color {
  display: inline;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  box-shadow: inset 0 0 0px 1px #00000042;
}

.color:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0px 1px black;
}

.trying {
  position: absolute;
  width: 25px;
  margin: 10px;
}

textarea {
  resize: none;
}
