.edit-note{
    left: 50%;
    top: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
    height: 32%;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}