.app-header {
  /* background-color: lightblue; */
  /* height: 6vh; */
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--borderclr);
}

.header-content{
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: space-between;

}

.link-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  /* font-weight: bold; */
}
.nav-link span{
    font-family: copper;
    font-size: 1.2em;
    /* font-weight: bolder; */
}
/* .nav-link:hover span{
  color:var(--mainclr)
} */

.main-logo{
  width: 110px;
}

.main-nav a{
  color:var(--mainclr) 
}

.mail-link:hover{
  color: var(--mailclr);
}

.note-link:hover{
  color: var(--noteclr);
}

.book-link:hover{
  color: var(--bookclr);
}


