@font-face {
    font-family: copper;
    src: url('../../fonts/Copperplate/CopperplateGothic.ttf');
}
@font-face {
    font-family: roboto-reg;
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: product-reg;
    src: url('../../fonts/product-sans/Product\ Sans\ Regular.ttf');
}