:root{
    --mainclr: #6F69AC;
    --noteclr : #FFEBA1;
    --mailclr: #FD6F96;
    --mailclropc: #fd6f9528;
    --bookclr: #95DAC1;
    --borderclr: #dbdcdd;
    /* --borderclr: #ECEFF0; */
    --readclr: #F5F7F7;
}